:host {
  > div {
    background-color: var(--colore-navbar);
    nav {
      height: 62px;
      div#navbarNav {
        background-color: var(--colore-navbar);
        padding-left: 10px;
      }
      li {
        font-size: 1.2em;
        a {
          color: var(--color-text);
        }
      }
      button {
        background-color: var(--colore-button);

        color: var(--colore-background);

        font-size: 0.8em;
      }
    }
  }
}
