:host {
  height: calc(100vh - 62px);
  background-color: var(--colore-background);
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    background-color: var(--colore-div);
    padding: 1.5em;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px var(--colore-button);
    backdrop-filter: blur(8px);
    form {
      width: 300px;
      > div {
        label {
          font-size: 0.9em;
        }
        input {
          border-radius: 30px;
        }
      }
      button {
        background-color: var(--colore-button);
        color: var(--colore-background);
        border: 0px;
      }
    }
    a {
      font-size: 0.7em;
      color: #c0bcb5;
    }
  }
}
