:host {
  display: block;
  background-color: var(--colore-background);
  > div {
    h1 {
      color: var(--colore-acc1);
    }
    div.card {
      border: 0px;
      img {
        height: 546px;
        object-fit: cover;
      }
      a {
        color: var(--colore-testo);
        i {
          text-shadow: 0px 0px 2px white;
        }
      }
    }
  }
}
