:host {
  display: block;
  background-color: var(--colore-background);
  > div {
    div.card {
      border: 0px;
      img {
        height: 546px;
        object-fit: cover;
      }
      a {
        color: var(--colore-testo);
      }
    }
  }
}
